/* Mobile Css */
@import "corestyle.css";
/* Desktop View */
@media (min-width: 601px) {
  .navbar-links li a.active {
    background-color: #333;
    color: white;
  }
  /* Nav Bar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: lightgray;
    height: 75px;
  }
  .navbar-links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-right: 10px;
  }
  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 1.5em;
    font-family: 'IM Fell DW Pica', serif;
  }
  .navbar-links li:hover {
    background-color: #46494b;
  }
  .navbar-links li:hover a {
    color: white;
  }
  .brand-title {
    font-size: 1.5em;
    margin: 0.5rem;
  }
  .brand-title a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    display: block;
    font-family: 'IM Fell DW Pica', serif;
  }
  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  /* Section A */
  .section-a {
    min-height: 300px;
    border-bottom: 3px solid black;
  }
  .content-text h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    color: #f1f2f3;
    text-shadow: 2px 2px #0a0909;
    letter-spacing: 2px;
  }
  .section-a .bg-section-a {
    position: absolute;
    background: url('../images/black_white-storefront.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.9;
  }
  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background: transparent;
    padding: 0.5em 1em;
    background: black;
    border: 2px solid #f1f2f3;
    border-radius: 5px;
    margin-top: 100px ;
    color: #f1f2f3;
    letter-spacing: 2px;
  }
  .btn:hover {
    background: #7e8081;
    color: #f1f2f3;
  }
  /* Section B */
  .section-b {
    background: #333;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: minmax(200px, auto);
  }
  .featured-artist {
    border-radius: 10px;
    background: #f1f2f3;
    margin: 15px;
  }
  .featured-artist h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .featured-artist p {
    font-size: 1.5em;
    padding-top: 50px;
    margin: 10px;
  }
  .featured-artist-prints {
    background: lightgray;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .featured-artist-prints .image-2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-artist-prints .figcap-2 {
    padding-top: 5px;
    text-align: center;
  }
  footer {
    height: 200px;
    background: lightgray;
  }
  footer .footer-info {
    font-size: 1.2em;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
  footer .footer-text {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
  }
  footer .phone,
  footer .email {
    color: black;
    text-decoration: none;
  }
  /*=============
    Contact Page 
    ==============*/
  .address {
    padding-top: 50px;
    padding-left: 50px;
  }
  .contact-text {
    padding-top: 50px;
    font-weight: 900;
    font-size: 2em;
  }
}
